---
const size = Astro.props.size || 40;
---

<a class="site-logo" href="/" aria-label="PKZCorp homepage">
  <img src="/images/logo/logo-transparent-no-border.svg" alt="PKZCorp logo" width={size} height={size} />
  <span class="site-title">PKZCorp</span>
</a>
